USE [ProdAndLog]
GO
/****** Object:  Table [dbo].[BillOfMaterials]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillOfMaterials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](255) NOT NULL,
	[Position] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
	[Qualifications] [nvarchar](max) NULL,
	[RateType] [nvarchar](20) NULL,
	[RateAmount] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InventoryNumber] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](100) NULL,
	[CommissionDate] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[MaintenanceSchedule] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentUsageLog]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentUsageLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[UsageHours] [decimal](5, 2) NOT NULL,
	[LogDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[TypeId] [int] NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[MinStock] [int] NOT NULL,
	[MarketPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Article] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionOrder]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriorityLevel] [int] NULL,
	[Deadline] [date] NOT NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionStage]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionStage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OperationId] [int] NOT NULL,
	[AssignedEmployeeId] [int] NULL,
	[AssignedEquipmentId] [int] NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionStageStatus]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionStageStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[ExpectedDeliveryDate] [date] NULL,
	[StatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseOrderStatus]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseReceipt]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseReceipt](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ReceiptDate] [datetime2](7) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[ReceivedQuantity] [decimal](18, 3) NOT NULL,
	[DefectQuantity] [decimal](18, 3) NULL,
	[WarehouseId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityDefect]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityDefect](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[DetectedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockBalance]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockBalance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[WarehouseId] [int] NOT NULL,
	[Quantity] [decimal](18, 3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Inn] [nvarchar](12) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[ContactInfo] [nvarchar](500) NULL,
	[ReliabilityRating] [int] NULL,
	[PaymentTerms] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechOperation]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechOperation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RouteId] [int] NOT NULL,
	[OperationName] [nvarchar](255) NOT NULL,
	[SequenceNumber] [int] NOT NULL,
	[DurationHours] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TechRoute]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TechRoute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[EmployeeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkLog]    Script Date: 02.02.2026 13:32:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StageId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[HoursWorked] [decimal](5, 2) NOT NULL,
	[LogDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillOfMaterials] ON 

INSERT [dbo].[BillOfMaterials] ([Id], [ProductId], [MaterialId], [Quantity]) VALUES (1, 1, 1, CAST(15.000 AS Decimal(18, 3)))
INSERT [dbo].[BillOfMaterials] ([Id], [ProductId], [MaterialId], [Quantity]) VALUES (2, 1, 3, CAST(1.000 AS Decimal(18, 3)))
INSERT [dbo].[BillOfMaterials] ([Id], [ProductId], [MaterialId], [Quantity]) VALUES (3, 2, 1, CAST(8.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[BillOfMaterials] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [EmployeeNumber], [FullName], [Position], [Department], [Qualifications], [RateType], [RateAmount], [IsActive]) VALUES (1, N'EMP-001', N'Иванов Иван Иванович', N'Слесарь-сборщик', N'Производство', N'3 разряд, опыт 5 лет', N'почасовая', CAST(800.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Employee] ([Id], [EmployeeNumber], [FullName], [Position], [Department], [Qualifications], [RateType], [RateAmount], [IsActive]) VALUES (2, N'EMP-002', N'Петрова Анна Сергеевна', N'Инженер-технолог', N'ПТО', N'Высшее образование, сертификат ISO', N'оклад', CAST(120000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Employee] ([Id], [EmployeeNumber], [FullName], [Position], [Department], [Qualifications], [RateType], [RateAmount], [IsActive]) VALUES (3, N'EMP-003', N'Сидоров Дмитрий Алексеевич', N'Оператор ЧПУ', N'Цех №1', N'4 разряд, обучение Siemens', N'почасовая', CAST(950.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Id], [InventoryNumber], [Model], [Type], [CommissionDate], [Status], [MaintenanceSchedule]) VALUES (1, N'EQ-001', N'Mazak QT-200', N'Токарный станок с ЧПУ', CAST(N'2020-03-15' AS Date), N'в работе', N'ТО каждые 500 м/ч')
INSERT [dbo].[Equipment] ([Id], [InventoryNumber], [Model], [Type], [CommissionDate], [Status], [MaintenanceSchedule]) VALUES (2, N'EQ-002', N'Haas VF-2SS', N'Фрезерный центр', CAST(N'2021-07-22' AS Date), N'в работе', N'ТО ежеквартально')
INSERT [dbo].[Equipment] ([Id], [InventoryNumber], [Model], [Type], [CommissionDate], [Status], [MaintenanceSchedule]) VALUES (3, N'EQ-003', N'Siemens TestBench v3', N'Стенд тестирования', CAST(N'2022-01-10' AS Date), N'в работе', N'Калибровка раз в месяц')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [Code], [Name], [TypeId], [Unit], [MinStock], [MarketPrice]) VALUES (1, N'MAT-001', N'Сталь листовая 2мм', 1, N'кг', 100, CAST(85.50 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Code], [Name], [TypeId], [Unit], [MinStock], [MarketPrice]) VALUES (2, N'MAT-002', N'Пластик ABS белый', 1, N'кг', 50, CAST(120.00 AS Decimal(18, 2)))
INSERT [dbo].[Material] ([Id], [Code], [Name], [TypeId], [Unit], [MinStock], [MarketPrice]) VALUES (3, N'MAT-003', N'Компрессор Embraco NT1178GK', 2, N'шт', 20, CAST(3200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (2, N'комплектующее')
INSERT [dbo].[MaterialType] ([Id], [Name]) VALUES (1, N'сырьё')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Article], [Name], [Category], [Description], [Unit], [IsActive]) VALUES (1, N'PRD-001', N'Холодильник BOSCH KGN39XW30R', N'Бытовая техника', N'Двухкамерный холодильник с NoFrost', N'шт', 1)
INSERT [dbo].[Product] ([Id], [Article], [Name], [Category], [Description], [Unit], [IsActive]) VALUES (2, N'PRD-002', N'Стиральная машина LG F4J6TNS7E', N'Бытовая техника', N'Фронтальная загрузка, 8 кг', N'шт', 1)
INSERT [dbo].[Product] ([Id], [Article], [Name], [Category], [Description], [Unit], [IsActive]) VALUES (3, N'PRD-003', N'Кухонный стол "Лофт"', N'Мебель', N'Дуб массив, размер 160x80 см', N'шт', 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionOrder] ON 

INSERT [dbo].[ProductionOrder] ([Id], [ProductId], [CustomerName], [Quantity], [PriorityLevel], [Deadline], [Status], [CreatedAt]) VALUES (1, 1, N'Иванов Иван Игоревич', 1, 5, CAST(N'2026-02-02' AS Date), N'запланирован', CAST(N'2026-02-02T10:20:37.8951532' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ProductionOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionStage] ON 

INSERT [dbo].[ProductionStage] ([Id], [OrderId], [OperationId], [AssignedEmployeeId], [AssignedEquipmentId], [StartDate], [EndDate], [StatusId]) VALUES (1, 1, 1, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ProductionStage] ([Id], [OrderId], [OperationId], [AssignedEmployeeId], [AssignedEquipmentId], [StartDate], [EndDate], [StatusId]) VALUES (2, 1, 2, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[ProductionStage] ([Id], [OrderId], [OperationId], [AssignedEmployeeId], [AssignedEquipmentId], [StartDate], [EndDate], [StatusId]) VALUES (3, 1, 3, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ProductionStage] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductionStageStatus] ON 

INSERT [dbo].[ProductionStageStatus] ([Id], [Name]) VALUES (2, N'в работе')
INSERT [dbo].[ProductionStageStatus] ([Id], [Name]) VALUES (7, N'возврат на доработку')
INSERT [dbo].[ProductionStageStatus] ([Id], [Name]) VALUES (4, N'готов к отгрузке')
SET IDENTITY_INSERT [dbo].[ProductionStageStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrder] ON 

INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [OrderDate], [ExpectedDeliveryDate], [StatusId]) VALUES (1, 1, CAST(N'2026-02-02T10:04:33.5745542' AS DateTime2), CAST(N'2026-02-02' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PurchaseOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseOrderStatus] ON 

INSERT [dbo].[PurchaseOrderStatus] ([Id], [Name]) VALUES (3, N'в пути')
INSERT [dbo].[PurchaseOrderStatus] ([Id], [Name]) VALUES (5, N'закрыт')
INSERT [dbo].[PurchaseOrderStatus] ([Id], [Name]) VALUES (1, N'новый')
SET IDENTITY_INSERT [dbo].[PurchaseOrderStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseReceipt] ON 

INSERT [dbo].[PurchaseReceipt] ([Id], [OrderId], [ReceiptDate], [MaterialId], [ReceivedQuantity], [DefectQuantity], [WarehouseId]) VALUES (1, 1, CAST(N'2026-02-02T10:14:17.7395454' AS DateTime2), 1, CAST(100.000 AS Decimal(18, 3)), CAST(3.000 AS Decimal(18, 3)), 1)
SET IDENTITY_INSERT [dbo].[PurchaseReceipt] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Кладовщик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Мастер')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[StockBalance] ON 

INSERT [dbo].[StockBalance] ([Id], [MaterialId], [WarehouseId], [Quantity]) VALUES (1, 1, 1, CAST(597.000 AS Decimal(18, 3)))
INSERT [dbo].[StockBalance] ([Id], [MaterialId], [WarehouseId], [Quantity]) VALUES (2, 2, 1, CAST(200.000 AS Decimal(18, 3)))
INSERT [dbo].[StockBalance] ([Id], [MaterialId], [WarehouseId], [Quantity]) VALUES (3, 3, 1, CAST(30.000 AS Decimal(18, 3)))
SET IDENTITY_INSERT [dbo].[StockBalance] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Inn], [Name], [ContactInfo], [ReliabilityRating], [PaymentTerms]) VALUES (1, N'7701234567', N'ООО "МеталлПром"', N'Тел: +7(495)123-45-67, email: info@metallprom.ru', 4, N'предоплата 50%, остаток — при получении')
INSERT [dbo].[Supplier] ([Id], [Inn], [Name], [ContactInfo], [ReliabilityRating], [PaymentTerms]) VALUES (2, N'7702345678', N'ПластикГрупп', N'Тел: +7(495)234-56-78, email: sales@plasticgroup.ru', 5, N'оплата в течение 10 дней')
INSERT [dbo].[Supplier] ([Id], [Inn], [Name], [ContactInfo], [ReliabilityRating], [PaymentTerms]) VALUES (3, N'7703456789', N'КомпрессорСервис', N'Тел: +7(495)345-67-89, email: order@compressor-serv.ru', 3, N'100% предоплата')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[TechOperation] ON 

INSERT [dbo].[TechOperation] ([Id], [RouteId], [OperationName], [SequenceNumber], [DurationHours]) VALUES (1, 1, N'Заготовка корпуса', 1, CAST(2.50 AS Decimal(5, 2)))
INSERT [dbo].[TechOperation] ([Id], [RouteId], [OperationName], [SequenceNumber], [DurationHours]) VALUES (2, 1, N'Установка компрессора', 2, CAST(1.00 AS Decimal(5, 2)))
INSERT [dbo].[TechOperation] ([Id], [RouteId], [OperationName], [SequenceNumber], [DurationHours]) VALUES (3, 1, N'Тестирование холода', 3, CAST(3.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[TechOperation] OFF
GO
SET IDENTITY_INSERT [dbo].[TechRoute] ON 

INSERT [dbo].[TechRoute] ([Id], [ProductId], [Name]) VALUES (1, 1, N'Маршрут сборки холодильника')
INSERT [dbo].[TechRoute] ([Id], [ProductId], [Name]) VALUES (2, 2, N'Маршрут сборки стиральной машины')
INSERT [dbo].[TechRoute] ([Id], [ProductId], [Name]) VALUES (3, 3, N'Маршрут изготовления кухонного стола')
SET IDENTITY_INSERT [dbo].[TechRoute] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Login], [PasswordHash], [EmployeeId]) VALUES (1, N'admin', N'hashed_password_1', 2)
INSERT [dbo].[User] ([Id], [Login], [PasswordHash], [EmployeeId]) VALUES (2, N'operator1', N'hashed_password_2', 1)
INSERT [dbo].[User] ([Id], [Login], [PasswordHash], [EmployeeId]) VALUES (3, N'warehouse1', N'hashed_password_3', 5)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (2, 4)
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([Id], [Name]) VALUES (1, N'Основной склад')
INSERT [dbo].[Warehouse] ([Id], [Name]) VALUES (2, N'Временный склад')
INSERT [dbo].[Warehouse] ([Id], [Name]) VALUES (3, N'Склад брака')
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
/****** Object:  Index [UQ__BillOfMa__D85CA7C327738A47]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[BillOfMaterials] ADD UNIQUE NONCLUSTERED 
(
	[ProductId] ASC,
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__8D6635989221BE32]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Equipmen__D6D65CC83327E442]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Equipment] ADD UNIQUE NONCLUSTERED 
(
	[InventoryNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__A25C5AA7CE6E9823]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Material] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__737584F65C80BC39]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[MaterialType] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Product__4943444A8906DF5D]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Product] ADD UNIQUE NONCLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Producti__737584F67FA26536]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[ProductionStageStatus] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Purchase__737584F6A22D558C]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[PurchaseOrderStatus] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Role__737584F60E8B6AE4]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Role] ADD UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StockBal__47669A091D5F409C]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[StockBalance] ADD UNIQUE NONCLUSTERED 
(
	[MaterialId] ASC,
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Supplier__C497F0FDD5FB6574]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[Supplier] ADD UNIQUE NONCLUSTERED 
(
	[Inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__5E55825B399E55B3]    Script Date: 02.02.2026 13:32:59 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Material] ADD  DEFAULT ((0)) FOR [MinStock]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductionOrder] ADD  DEFAULT (N'запланирован') FOR [Status]
GO
ALTER TABLE [dbo].[ProductionOrder] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT (getdate()) FOR [ReceiptDate]
GO
ALTER TABLE [dbo].[PurchaseReceipt] ADD  DEFAULT ((0)) FOR [DefectQuantity]
GO
ALTER TABLE [dbo].[QualityDefect] ADD  DEFAULT (getdate()) FOR [DetectedAt]
GO
ALTER TABLE [dbo].[StockBalance] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BillOfMaterials]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillOfMaterials]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipmentUsageLog]  WITH CHECK ADD FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[EquipmentUsageLog]  WITH CHECK ADD FOREIGN KEY([StageId])
REFERENCES [dbo].[ProductionStage] ([Id])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD FOREIGN KEY([TypeId])
REFERENCES [dbo].[MaterialType] ([Id])
GO
ALTER TABLE [dbo].[ProductionOrder]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[ProductionStage]  WITH CHECK ADD FOREIGN KEY([AssignedEmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ProductionStage]  WITH CHECK ADD FOREIGN KEY([AssignedEquipmentId])
REFERENCES [dbo].[Equipment] ([Id])
GO
ALTER TABLE [dbo].[ProductionStage]  WITH CHECK ADD FOREIGN KEY([OperationId])
REFERENCES [dbo].[TechOperation] ([Id])
GO
ALTER TABLE [dbo].[ProductionStage]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[ProductionOrder] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductionStage]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[ProductionStageStatus] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([StatusId])
REFERENCES [dbo].[PurchaseOrderStatus] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipt]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipt]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[PurchaseOrder] ([Id])
GO
ALTER TABLE [dbo].[PurchaseReceipt]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
GO
ALTER TABLE [dbo].[QualityDefect]  WITH CHECK ADD FOREIGN KEY([StageId])
REFERENCES [dbo].[ProductionStage] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockBalance]  WITH CHECK ADD FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockBalance]  WITH CHECK ADD FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[Warehouse] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TechOperation]  WITH CHECK ADD FOREIGN KEY([RouteId])
REFERENCES [dbo].[TechRoute] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TechRoute]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkLog]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[WorkLog]  WITH CHECK ADD FOREIGN KEY([StageId])
REFERENCES [dbo].[ProductionStage] ([Id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD CHECK  (([RateType]=N'оклад' OR [RateType]=N'почасовая'))
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD CHECK  (([Status]=N'списано' OR [Status]=N'на ТО' OR [Status]=N'в ремонте' OR [Status]=N'в работе'))
GO
ALTER TABLE [dbo].[ProductionOrder]  WITH CHECK ADD CHECK  (([PriorityLevel]>=(1) AND [PriorityLevel]<=(5)))
GO
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD CHECK  (([ReliabilityRating]>=(1) AND [ReliabilityRating]<=(5)))
GO
